$background: rgb(230, 230, 230);

$nav-bar-background: rgba(0, 0, 0, 0.50);
$nav-bar-height: 40px;

$table-container-background: rgba(230, 230, 230, 0.9);

$sidebar-width: 275px;
$menu-border-color: gray;
//$menu-background: #34495E;
$menu-background: rgba(255, 255, 255, 0.9);
$menu-textcolor: #1ABC9C;
$menu-hover-background: #1ABC9C;
$menu-hover-textcolor: #FFF;
$menu-item-height: 52px;

$modal-width: 140px;
$modal-body-height: 350px;

$lane-width: 235px;
$task-lane-padding: 5px;

$rounded-corners: 10px;
$margins: 30px;
$page-margins: 20px;

$container-width: 940px;
$appendable-background: rgba(130, 130, 130, 0.50);
$appendable-text-highlight: rgba(130, 130, 130, 0.50);